{% extends 'base.html' %}

{% block title %} Design Detail {% endblock title %}

{% block body %}
 <div class="slider-area2" style="background-image: url(../../../static/images/hero2.png);">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>{{ services.name }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <section class="service-area pt-150 pb-150">
                <div class="container">
<div class="row d-flex justify-content-center">
                    <div class="col-xl-7 col-lg-8 col-md-11 col-sm-11">
                        <div class="section-tittle  text-center mb-90">
                            <div class="feature-img">
                        <img class="img-fluid" src="{{ design.picture.url }}" alt="{{ design.name }}">
                     </div>
                            <span>{{ design.name }}</span>
                            <h2>{{ design.description }}</h2>
                        </div>
                    </div>
                </div>
                {% if engineers%}
                    {% for engineer in engineers %}
                               <div class="blog-author">
                     <div class="media align-items-center">
                        <img src="{{ engineer.profile_pic.url }}" class="profile-pic" alt="{{ engineer.first_name }}">
                        <div class="media-body">
                           <a href="{% url 'detail-engineer' engineer.pk %}">
                              <h4>{{ engineer.first_name }}</h4>
                           </a>
                           <p>{{ engineer.address }}</p>
                        </div>
                     </div>
                  </div>
                    <hr/>
                    {% endfor %}
                {% endif %}
                <hr/>
                 <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>Get Our Best Services</h2>
                                                <a class="btn" href="{% url 'request-measurement' request.user.pk %}" >Request Measurement</a>
                                                <a class="btn" href="{% url 'request-work' request.user.pk %}" >Make A Deal</a>

                            </div>
                      <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>Answer Our Survey</h2>
                                                <a class="btn" href="{% url 'survey' request.user.pk %}" >Survey</a>

                            </div>
                        </div>
                    </div>
                </div>
                </section>
{% endblock body %}