{% extends 'base.html' %}
{% load static %}
{% block title %} Service Detail{% endblock title %}

{% block body %}
         <div class="slider-area2" style="background-image: url(../../../static/images/hero2.png);">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2 class="aida-font">{{ services.name }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <section class="service-area pt-150 pb-150">
            <div class="container">
             <div class="row d-flex justify-content-center">
                    <div class="col-xl-7 col-lg-8 col-md-11 col-sm-11">
                        <div class="section-tittle  text-center mb-90">
                            <span class="aida-font">{{ services.name }}</span>
                            <h2 class="aida-font">{{ services.description }}</h2>
                        </div>
                    </div>
                </div>
            {% if designs %}
                    <div class="row justify-content-center">
                {% for design in designs %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-9">
                        <div class="services-caption text-center mb-30">
                            <div class="service-icon">
                               <a href="{% url 'detail-design' design.pk %}"><img src="{{ design.picture.url }}" class="profile-pic" alt="{{ design.name }}"></a>
                            </div>
                            <div class="service-cap">
                                <h4 class="aida-font">{{ design.name }}</h4>
                                <p class="aida-font">{{ design.description }}</p>
                            </div>
                        </div>
               </div>

                {% endfor %}
                       {% endif %}
    </div>

            </div>
            </section>
{% endblock body %}