{%  extends 'base.html' %}


{% block title %} Request Measurement {% endblock title %}

{% block body %}
          <div class="slider-area2" style="background-image: url(../../../static/images/hero2.png);">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>Request Measurement </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="service-area pt-150 pb-150">
         <div class="container">
                {% if messages %}
    {% for message in messages %}
        <div class="alert alert-primary" role="alert">
           {{ message }}
        </div>
    {% endfor %}
         {% endif %}
                 <form class="form-contact contact_form"  method="POST" >
                            {% csrf_token %}
                 <div class="input-group-icon mt-10">
                     									<div class="icon"><i class="fa fa-user-circle fa-sm" aria-hidden="true"></i></div>
									<input type="text" name="first_name" placeholder="First Name" value="{{ request.user.first_name }}"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required
										class="single-input">
								</div>
                     <div class="input-group-icon mt-10">
									<div class="icon"><i class="fa fa-map fa-sm" aria-hidden="true"></i></div>
									<input type="text" name="address" placeholder="Address" onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Address'" required class="single-input" >
								</div>
         							<div class="input-group-icon mt-10">
									<div class="icon"><i class="fa fa-id-card fa-sm" aria-hidden="true"></i></div>
									<div class="form-select" id="default-select">
												<select name="selected_service">
                                                    {% for service in services %}
                                                        <option value="{{ service.pk }}">{{ service.name }}</option>
									{% endfor %}
										</select>
									</div>
								</div>
<div class="input-group-icon mt-10">
    									<div class="icon"><i class="fa fa-envelope fa-sm" aria-hidden="true"></i></div>
									<textarea class="single-textarea" placeholder="Message" onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Message'" required name="desc" cols="100" rows="5"></textarea>
								</div>
<div class="form-group mt-10">
                                <button type="submit" class="colored-btn">Send</button>
                            </div>
                 </form>

         </div>
         </div>

        </section>

{% endblock body %}