{% extends 'base.html' %}

{% block title %} تمتع بخدماتنا{% endblock title %}

{% block body %}

         <div class="slider-area2" style="background-image: url(../../../static/images/hero2.png);">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>إستطلاع رأى  </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <section class="service-area pt-150 pb-150">
         <div class="container">
               <div class="col-12">
                        <h2 class="contact-title"> {{ user.first_name }}نتطلع لمعرفتك أكثر  : </h2>
                    </div>
          <form method="POST" enctype="multipart/form-data">{% csrf_token %}

                   <div class="col-12">
                                    <div class="form-group">
                                        <textarea  class="form-control w-100" name="quote" id="quote" cols="30" rows="9"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Quotes '" placeholder=" Enter Quotes"></textarea>
                                    </div>
                                </div>
                           <div class="row">
                               <div class="col-6">

                                <div class="form-select" id="default-select">
												<select name="design">
                                                    {% for design in designs %}
                                                        <option value="{{ design.pk }}">{{ design.name }}</option>
									{% endfor %}
										</select>
									</div>
                               <div class="col-6">

                               </div>
                               <div class="col-12">
                                    <div class="form-group">
                                        <textarea  class="form-control w-100" name="interest" id="interest" cols="30" rows="9"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Interest'" placeholder=" Enter Interest"></textarea>
                                    </div>
                                </div>
                           </div>
                               </div>

  <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="color"  id="color" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Favourite Color'" placeholder="Enter your Favourite Color" >
                                    </div>
                                </div>
              <div class="form-group mt-3">
                                <button type="submit" class="colored-btn">Send</button>
                            </div>
             </form>
<div class="section-top-border text-right">
    <a href="{% url 'tour-service' %}" class="btn mb-30" >التالى</a>
</div>
            </section>

{% endblock body %}