{% load static %}

 <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding section-bg" data-background="{% static 'images/footer_bg.png' %}">
            <div class="container">
                <!-- Footer Top -->
                <div class="footer-top">
                    <div class="row justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo -->
                                    <div class="footer-logo">
                                        <a href="#"><img src="{% static 'images/logo_footer.png' %}" alt=""></a>
                                    </div>
                                    <div class="footer-tittle">
                                        <div class="footer-pera">
                                            <p class="body-font" >طموحنان عنان السماء</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4 class="body-font">الاختصارات</h4>
                                    <ul>
                                        <li><a href="{% url 'about-page' %}" class="body-font">عن باوهاوس</a></li>
                                        {% if request.user.user_type ==  1  %}
                                        <li><a href="{% url 'register-engineer' %}"class="body-font" > إضافة مهندس</a></li>
                                        {% endif %}
                                        <li><a href="{% url 'register' %}" class="body-font" >تسجيل الدخول</a></li>
                                    {%  if request.user.pk %}
                                        <li><a href="#" class="body-font" > إتصل بنا</a></li>
                                    {% endif %}
                                       {% if request.user.user_type ==  1 or   request.user.user_type ==  2 %}
										<li><a class="aida-font" href="#">قائمة الأستفسارات</a></li>
                                    {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4 class="body-font" >خدماتنا</h4>
                                    <ul>
                                        <li><a class="body-font"  href="{% url 'register' %}"> إنشاء حساب</a></li>
                                        <li><a class="body-font" href="{% url 'register-engineer' %}">إنشاء حساب مهندس</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer bottom -->
                <div class="footer-bottom">
                    <div class="row">
                        <div class="col-xl-7 col-lg-8 col-md-7">
                            <div class="footer-copy-right">
                                <p class="body-font" >شركة باوهاوس</p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4 col-md-5">
                            <div class="footer-copy-right f-right">
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                    <a href="#"><i class="fas fa-globe"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>