{% extends 'base.html' %}

{% block title %} المهندسون {% endblock title %}

{% block body %}
 <div class="slider-area2" style="background-image: url(../../../static/images/hero2.png);">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>المهندسون</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <section class="service-area pt-150 pb-150">
                <div class="container">
 {% for engineer in engineers %}
                               <div class="blog-author">
                     <div class="media align-items-center">
                        <img src="{{ engineer.profile_pic.url }}" class="profile-pic" alt="{{ engineer.first_name }}">
                        <div class="media-body">
                           <a href="{% url 'detail-engineer' engineer.pk %}">
                              <h4>{{ engineer.first_name }}</h4>
                           </a>
                           <p>{{ engineer.address }}</p>
                        </div>
                     </div>
                  </div>
                    <hr/>
                    {% endfor %}
                        <div class="section-top-border text-left">
          <a href="{% url 'tour-design' %}" class="btn mb-30">السابق </a>
            </div>
      <div class="section-top-border text-right">
          <a href="{% url 'tour-final' %}" class="btn mb-30">التالى  </a>
            </div>
                </div>
    </section>

{% endblock body %}